/* Reset e Box Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.0;
  overflow-x: hidden;
}

/* Cabeçalho Responsivo */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #007AFF;
  z-index: 1000;
  padding: 1px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-right: 20px;
}

.nav-sections {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  max-height: 70px;
}

.nav-sections li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Ajustes no botão CV */
.cv-button {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  padding: 4px 10px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 20px; /* Afastando o botão da bandeira */
}

/* Efeito de hover com zoom */
.cv-button:hover {
  background-color: #005ec2;
  color: #ffffff;
  transform: scale(1.1); /* Adiciona um leve zoom */
}

/* Imagem de recepção */
#recepcao {
  width: 100vw; /* Usa a largura total da viewport */
  overflow: hidden; /* Para evitar que a imagem extrapole */
  margin-top: 60px; /* Ajuste conforme necessário */
  padding-top: 0; /* Remova o padding, se houver */
}

#recepcao img {
  width: 100%; /* A imagem ocupa 100% da largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

/* Seção "Sobre Mim" */
#bio {
  padding: 10px 10px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 20px;
}

/* Texto */
.bio-text {
  flex: 1;
  padding: 20px;
  text-align: left;
  max-width: 500px;
}

.bio-text h1 {
  font-size: 3rem;
  color: #007AFF;
  margin-bottom: 0.5rem;
}

.bio-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #383838;
}

/* Imagem */
.bio-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.bio-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-height: 500px;
}

/* Estilos para as tags da seção Bio */
.bio-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bio-tag {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #ffffff;
}

.bio-tagcss { background-color: #003cff; }
.bio-tagui { background-color: #374151; }
.bio-taghtml { background-color: #f97316; }
.bio-tagjavascript { background-color: #eab308; }
.bio-taggithub { background-color: #000000; }

/* Botão de Baixar CV */
.download-cv .cv-button2 {
  background-color: #007AFF;
  color: white;
  padding: 12px 190px; /* Aumenta o tamanho do botão (largura e altura) */
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
  margin-top: 40px; /* Afasta o botão do texto acima */
}

.cv-button2:hover {
  background-color: #005ec2;
  color: #ffffff;
  transform: scale(1.05);
}

/* Seção de Projetos */
#portfolio {
  padding: 40px 20px;
  text-align: center;
  background-color: #007AFF;
}

.portfolio-title {
  font-size: 4.0rem;
  color: #ffffff;
}

.portfolio-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff; /* Deixa o texto branco */
}
.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.portfolio {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 350px;
}

.portfolio img {
  width: 100%;
  border-radius: 10px;
}

/* Estilos para as tags da seção Portfolio */
.portfolio-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 0px;
}

.portfolio-tag {
  display: inline-block;
  padding: 1px 15px;
  border-radius: 15px;
  font-size: 0.7rem;
  text-transform: capitalize;
  color: #ffffff;
}

.portfolio-tagcss { background-color: #003cff; } /* Azul mais escuro */
.portfolio-tagui { background-color: #374151; } /* Cinza escuro */
.portfolio-taghtml { background-color: #f97316; } /* Laranja mais claro */
.portfolio-tagjavascript { background-color: #eab308; } /* Amarelo mais claro */
.portfolio-taggithub { background-color: #000000; }

/* Seção de Certificados */
.certificados-section {
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
}

.section-title {
  font-size: 4.0rem;
  color: #007AFF;
}

.section-description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.certificado-card p {
  text-align: center;  /* Centraliza o texto */
  color: #ffffff;      /* Define a cor do texto para branco */
  font-size: 1.0rem;   /* Ajusta o tamanho da fonte se necessário */
}

/* Layout dos Certificados */
.certificados-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.certificados-grid img {
  width: 100%;
}

.certificado-card {
  background-color: #007AFF;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Alinha o conteúdo de cima para baixo */
  justify-content: space-between; /* Garante que o conteúdo ocupe o máximo de espaço disponível */
}

.certificado-title {
  font-size: 1.0rem;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Botão de Certificado */
.certificado-button {
  background-color: #ffffff;
  color: #005ec2;
  padding: 1px 6px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Isso vai empurrar o botão para a parte inferior do cartão */
  align-self: flex-end; /* Isso vai garantir que o botão fique alinhado à direita */
  font-size: 0.7rem; /* Reduz o tamanho da fonte do botão */
}

.certificado-button:hover {
  background-color: #005ec2;
  color: #ffffff;
}

/* Sessão de chamada para ação */
.cta-section {
  background-color: #05070a;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.cta-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.0; /* Ajuste o valor conforme necessário */
  margin-top: 100px;
  }

/* Botão  de CTA*/
.cta-button {
  background-color: #007BFF;
  color: #ffffff;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 35px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 100px; /* Aumente esse valor conforme necessário */
}

.cta-button:hover {
  background-color: #0056b3;
  color: white;
}

.seta {
  font-size: 1.5rem;
  transform: rotate(-45deg); /* Roda a seta na diagonal */
  font-weight: bold; /* Torna a seta mais grossa */
}
 /* Rodapé */
 footer {
  padding: 4px;
  background-color: #05070a;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Ajuste o padding se necessário */
}

.social-links a {
  margin-left: 0; /* Remove a margem esquerda */
  margin-right: 10px; /* Adiciona um pequeno espaço à direita */
}

.social-links {
  display: flex;
  gap: 10px; /* Controla o espaçamento entre os links */
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  object-fit: contain;
}

.social-links img:hover {
  transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .certificados-grid {
    flex-direction: column;
    gap: 20px;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-sections {
    display: none;
  }

  .logo { max-height: 50px; }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  
  .logo { max-height: 40px; }
}
